<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
    <table class="table">
        <thead class = "thead-light">
        <tr>
            <th class="name">Jiří Jílek 230573</th>
        </tr>

        <tbody>
        <tr th:each="movie: ${library}">
            <td><a th:href="@{'video/'+${movie.getFile_name()}}">
                <img th:src="@{'images/'+${movie.getImage_name()}}"></a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>